<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387412978535-2naos4mu7jfbh8l6uiag4707mhibuetr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387412978535-2naos4mu7jfbh8l6uiag4707mhibuetr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8pNSoQfABxfR6MCVDadn9ULMUsg648tk</string>
	<key>GCM_SENDER_ID</key>
	<string>387412978535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veipe.lvcaller</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-call-app-24473</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-call-app-24473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387412978535:ios:0e64922b11c10c69445dc2</string>
</dict>
</plist>